<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Home</title>
</head>
<body>
    <script>
        function signUp(nome, email, senha){
            axios.post('/signUp', {
                nome: nome,
                email: email,
                senha: senha
            }).then(res => {
            console.log(res)
            }).catch((err) => console.log(err))
        }

        function enviarLogs(){
            let logs = "SinglePlayer; Hard; Fabio; 3300"
            recebeLogs(logs)
        }

        function enviarMultiLogs(){
            let logs = "MultiPlayer; Easy; Bahia; Guti; 10000; 7500"
            recebeLogs(logs)
        }

        function recebeLogs(logs){
            axios.post('/logs', {
                log: logs
            }).then(res => {
            console.log("Funfou")
            }).catch(() => console.log("Não Funfou"))
        }

        function retornaLogsByName(name){
            axios.get('/logsByName', {
                params: {
                    name: name
                }
            }).then(res => {
                console.log(res.data)
            })
        }

        function retornaSingleByName(name){
            axios.get('/logsSingleByName', {
                params: {
                    name: name
                }
            }).then(res => {
                console.log(res.data)
            })
        }

        function retornaMultiByName(name){
            axios.get('/logsMultiByName', {
                params: {
                    name: name
                }
            }).then(res => {
                console.log(res.data)
            })
        }

        function logsByScore(){
            axios.get('/logsByScore').then(
                res => {
                    for(let i = 0; i < res.data.length; i++){
                        console.log("Player: ", res.data[i].player, " Score: ", res.data[i].score)
                    }
                }
            )
        }
    </script>
    <h1>FABIN NA VOZ</h1>
</body>
</html>