<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download APK</title>
  <script>
    // Função que inicia o download automaticamente
    function iniciarDownload() {
      const link = document.createElement('a');
      link.href = 'https://dl.dropboxusercontent.com/scl/fi/o07hhm53bki2vk4676fl6/tiete-limpo.apk?rlkey=9c0cgujmad23bwxr8os8mhz5j&st=rwk0ersd'; // Substitua pela URL do seu arquivo .apk
      link.download = 'tiete-limpo.apk'; // Nome do arquivo que será salvo
      link.click();
    }

    // Chama a função quando a página é carregada
    window.onload = iniciarDownload;
  </script>
</head>
<body>
  <h1>Baixando seu APK...</h1>
  <p>Se o download não iniciar automaticamente, <a href="https://dl.dropboxusercontent.com/scl/fi/o07hhm53bki2vk4676fl6/tiete-limpo.apk?rlkey=9c0cgujmad23bwxr8os8mhz5j&st=rwk0ersd">clique aqui</a>.</p>
</body>
</html>
