<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download APK</title>
  <style>
    .video-container {
  width: 400px; 
  height: 200px; 
  overflow: hidden;
    }
.video-container video {
  width: auto;
  height: 100%; 
  display: block;
  clip-path: polygon(0 35%, 100% 35%, 100% 80%, 0 80%);
}
  </style>
  <script>
    // Função que inicia o download automaticamente
    function iniciarDownload() {
      const link = document.createElement('a');
      link.href = 'https://dl.dropboxusercontent.com/scl/fi/o07hhm53bki2vk4676fl6/tiete-limpo.apk?rlkey=9c0cgujmad23bwxr8os8mhz5j&st=rwk0ersd'; // Substitua pela URL do seu arquivo .apk
      link.download = 'tiete-limpo.apk'; // Nome do arquivo que será salvo
      link.click();
    }

    // function redirecionarDepoisDeUmSegundo(url) {
    // setTimeout(function() {
    //     window.location.href = url;
    // }, 2000); // 1000 milissegundos = 1 segundo
    // }


    // Chama a função quando a página é carregada
    window.onload = function(){
        iniciarDownload();
        // redirecionarDepoisDeUmSegundo('/score')
    };
  </script>
</head>
<body>
  <h1>Baixando seu APK...</h1>
  <p>Se o download não iniciar automaticamente, <a href="https://dl.dropboxusercontent.com/scl/fi/o07hhm53bki2vk4676fl6/tiete-limpo.apk?rlkey=9c0cgujmad23bwxr8os8mhz5j&st=rwk0ersd">clique aqui</a>.</p>
  <div class="video-container">
    <video autoplay loop muted playsinline>
      <source src="quero_um gif de um barquinho.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</body>
</html>
